@keyframes celebrateScore {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 0 0 10px rgb(250, 250, 250), 0 0 20px gold, 0 0 30px rgb(250, 250, 250);
  }
  100% {
    text-shadow: none;
  }
}

p {
  animation-name: celebrateScore;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 25px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #777;
  opacity: 80%;
}
