.game-answer-button {
  display: inline-block;
  padding: 50px 20px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  min-width: 350px;

  &:hover {
    background-color: #e0e0e0;
    border: 2px solid #bfbfbf;
  }

  &:active {
    background-color: #d6d6d6;
    border: 2px solid #b3b3b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}

