.game-answer-button {
  display: block;
  margin: 150px auto 0;
  padding: 25px 80px;
  border-radius: 10px;
  background-color: #ffd17b;
  color: #333;
  outline: none;
  border: none;
  text-align: center;
  font-size: var(--currentSize);
  font-weight: lighter;
  cursor: pointer;
  box-shadow: 0 6px #efa424;
  min-width: 500px;
  height: 100px;
  position: relative;

  &:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
  }

  &:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
  }
}
.game-answer-button-smaller {
  display: block;
  margin: 20px;
  padding: 25px 80px;
  border-radius: 10px;
  background-color: #ffd17b;
  color: #333;
  outline: none;
  border: none;
  text-align: center;
  font-size: var(--currentSize);
  font-weight: lighter;
  cursor: pointer;
  box-shadow: 0 6px #efa424;
  min-width: 200px;
  height: 75px;
  position: relative;

  &:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
  }

  &:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
  }
}

