<div class="listOfButton" id="listOfButtonFocusWork">
    <div class="container" id="puzzleMemoryWork">
        <span [ngClass]="{'white-text': svgActif, 'black-text': !svgActif}" class="textButton">
            Question Puzzle
        </span>
        <button style="width: 150px;" (click)="switchCurrentPuzzle()">
          <div *ngIf="puzzleIsEnable; else alternative">
            Désactiver
          </div>
          <ng-template #alternative>
            Activer
          </ng-template>
        </button>
    </div>
    <div class="container" id="reflexionMemoryWork">
        <span [ngClass]="{'white-text': svgActif, 'black-text': !svgActif}" class="textButton">
            Question Réflexion
        </span>
        <button style="width: 150px;" (click)="switchCurrentReflection()">
          {{textDisplayReflexionButton}}
        </button>
    </div>
    <div class="container" id="logicMemoryWork">
        <span [ngClass]="{'white-text': svgActif, 'black-text': !svgActif}" class="textButton">
            Question Logique
        </span>
        <button style="width: 150px;" (click)="switchCurrentLogic()">
          {{textDisplayLogicButton}}
        </button>
    </div>
</div>
