<div class="listOfButton" id="listOfButtonFocusWork">
    <div class="buttonAdvancedParameter" id="complexeQuestionMemoryWork">
        <span class="textButton">
            Hello
        </span>
        <button (click)="switchCurrentComplexQuestion()">
            Click Here
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="puzzleMemoryWork">
        <span class="textButton">
            Hello
        </span>
        <button (click)="switchCurrentPuzzle()">
            Click Here
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="reflexionMemoryWork">
        <span class="textButton">
            Hello
        </span>
        <button (click)="switchCurrentReflection()">
            Click Here
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="memoryMemoryWork">
        <span class="textButton">
            Hello
        </span>
        <button (click)="switchCurrentMemory()">
            Click Here
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="logicMemoryWork">
        <span class="textButton">
            Hello
        </span>
        <button (click)="switchCurrentLogic()">
            Click Here
        </button>
    </div>
</div>