<div class="listOfButton" id="listOfButtonFocusWork">
    <div class="buttonAdvancedParameter" id="complexeQuestionMemoryWork">
        <span class="textButton">
            Questions Complexes
        </span>
        <button (click)="switchCurrentComplexQuestion()">
          Activer
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="puzzleMemoryWork">
        <span class="textButton">
            Puzzle
        </span>
        <button (click)="switchCurrentPuzzle()">
          Activer
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="reflexionMemoryWork">
        <span class="textButton">
            Réflexion
        </span>
        <button (click)="switchCurrentReflection()">
          Activer
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="memoryMemoryWork">
        <span class="textButton">
          Mémoire
        </span>
        <button (click)="switchCurrentMemory()">
          Activer
        </button>
    </div>
    <div class="buttonAdvancedParameter" id="logicMemoryWork">
        <span class="textButton">
           Logique
        </span>
        <button (click)="switchCurrentLogic()">
          Activer
        </button>
    </div>
</div>
