<h1 class ="subtitle-parameter">TAILLE DU TEXTE</h1>
<div class="parametres">
  <div class="label">Taille de police :</div>
  <mat-slider
    class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" (ngModelChange)="updateValue()">
    </mat-slider>
    <div class="label">{{value}}</div>
    <span class="title" appAdaptFontSize>Ceci est un texte pour tester la taille.</span>
</div>
<button routerLink="/AdvancedParameterMainPage" class="button-advanced-P">Paramètres Avancés</button>


