<div class="parametres">
  <div class="label">Taille de police :</div>
  <mat-slider
    class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" (ngModelChange)="updateValue()">
    </mat-slider> 
    <div class="label">{{value}}</div>
    <span class="title" appAdaptFontSize>My text</span>
    <span class="titlte" >My text fixed</span>
    <span class="titlte2" >My text fixed</span>
</div>


