<h1 class ="subtitle-parameter">TAILLE DU TEXTE</h1>
<div class="parametres">
  <div style="font-size: 20px; font-weight: 500;">Taille de police :</div>
  <mat-slider
    class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="value" (ngModelChange)="updateValue()">
    </mat-slider>
    <div>{{value}}</div>
    <span class="title" appAdaptFontSize>Ceci est un texte pour tester la taille.</span>
</div>


