

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1px;
  text-align: center;
  
  .img {
    max-width: 100%;
    height:auto;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex: 1;
  }
}