
.question-searching-image-container {
  width: 100%; // Assurez-vous que le conteneur prend la largeur disponible
  height: auto; // Permet à la hauteur du conteneur de s'adapter à l'image

  .question-searching-image {
    width: 100%; // L'image occupe la totalité de la largeur du conteneur
    height: 100%; // L'image occupe la totalité de la hauteur du conteneur
    object-fit: contain; // L'image est ajustée pour s'afficher intégralement sans être rognée
  }
}
