
.game-question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  
    h2 {
      margin-top: 0;
    }
  
    .game-answers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
  
      .game-answer {
        margin-bottom: 16px;
      }
    }
    .game-question-button {
      margin: 0 8px;
    }
  
  }

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1px;
  text-align: center;
  
  .img {
    background-size:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    flex: 1;
  }
}