@import 'variables_puzzle';

.root-grid-puzzle {
  --puzzleGridHeight : 50px ;
}

.grid-puzzle {
  position: relative;
  display: grid;
  top : 50px;
  aspect-ratio: 1/1;
  height: calc(100% - 1px * var(--puzzleGridHeight) - 50px);
}

.row-grid-puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.items-grid-puzzle {
  background-color: #8c7d7d;
  height: 100%;
  width: 50%;
  border: 1px solid black;
}


//.grid-puzzle {
//  display: grid;
//  width: 80vw;
//  height: 500px;
//  background-color: aqua;
//  grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); // permet de créer une grille de colonnes de taille égale
//  grid-template-rows: repeat(auto-fit, minmax(0, 1fr)); // permet de créer une grille de rangées de taille égale
//}
//
//.items-grid-puzzle {
//  border: 1px solid black;
//  box-sizing: border-box;
//}


