@import 'variables_puzzle';

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: $y1;
  left: $x1;
  bottom: $y2;
  right: $x2;
}

.grid-row {
  display: flex;
  flex-direction: row;
}

.grid-item {
  border: 1px solid black;
  box-sizing: border-box;
  height: calc((100% - 2px) / 3);
  width: calc((100% - 2px) / 3);
}
