.timer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  color: #111;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  margin: 25px;
  border: 2px solid transparent;
  animation: timer-border 1s linear infinite;
  z-index: 9999;
}

@keyframes timer-border {
  0% {
    border: 2px solid transparent;
  }
  50% {
    border: 2px solid orange;
    border-radius: 40%;
  }
  100% {
    border: 2px solid transparent;
    border-radius: 50%;
  }
}

.main-content{
  position: relative;
}


