<div class="music-container">
  <h1 class="subtitle-parameter">MUSIQUE</h1>
  <a (click)="toggleMusic()">
    <img [src]="'assets/Parameter/' + resultPictureUrl" width="100" height="100" />
  </a>
  <div class="music-dropdown">
    <select [(ngModel)]="selectedMusic" (change)="setMusic()">
      <option value="assets/sounds/kahoot.mp3">Musique 1</option>
      <option value="assets/sounds/minecraft.mp3">Musique 2</option>
      <option value="assets/sounds/hollowknight.mp3">Musique 3</option>
      <option value="assets/sounds/wii.mp3">Musique 4</option>
    </select>
  </div>
  <audio *ngIf="selectedMusic" [src]="selectedMusic" controls></audio>
</div>
