<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  <button routerLink="/Gamepage" class="btn-jouer">Jouer</button>
  <button routerLink="/CreateQuiz" class="btn-creer">Créer un quiz</button>
  <button routerLink="/QuizList" class="btn-liste">Liste des quiz</button>
  <a routerLink="/Login" class="btn-login"><i class="fa fa-user"></i></a>
  <a routerLink="/Parameter" class="btn-register"><i class="fa fa-cog"></i></a>

  <div class="footer">
    <button class="user-button"><i class="fas fa-user"></i></button>
    <button class="settings-button"><i class="fas fa-cog"></i></button>
  </div>

</div>
