<div class="listOfButton" id="listOfButtonFocusWork">
    <div class="container" id="backgroundFocusWork">
        <span class="textButton, white-text">
            Fond
        </span>
        <button style="width: 150px;" (click)="toggleSVG()" #toggleButton>
          {{ svgActif ? 'Clair' : 'Sombre' }}
        </button>
    </div>
    <div class="container" id="questionAnimationFocusWork">
        <span class="textButton, white-text">
            Animation Questions
        </span>
        <button style="width: 150px;" (click)="switchCurrentQuestionAnimation()">
          {{textDisplayQuestionAnimationButton}}
        </button>
    </div>
    <div class="container" id="rightAnswerAnimationFocusWork">
        <span class="textButton, white-text">
            Visuel Réponse Juste
        </span>
        <button style="width: 150px;" (click)="switchCurrentRightAnswerAnimation()">
          {{textDisplayRightAnswerAnimationButton}}
        </button>
    </div>
    <div class="container" id="wrongAnswerAnimationFocusWork">
        <span class="textButton, white-text">
          Visuel Réponse Fausse
        </span>
        <button style="width: 150px;" (click)="switchCurrentWrongAnswerAnimation()">
          {{textDisplayWrongAnswerAnimationButton}}
        </button>
    </div>
    <div class="container" id="uppercase_button">
      <span class="textButton, white-text">
        Texte en majuscule
      </span>
      <button style="width: 150px;" (click)="toggleUppercase()" [innerText]="isUpperCase ? 'Désactiver' : 'Activer'"></button>
    </div>
    <div class="container" id="fontSelectionFocusWork">
      <span class="textButton, white-text">
        Police du texte
      </span>
      <select class="menu-deroulant"  [(ngModel)]="selectedFont" (change)="onFontChange(selectedFont)">
        <option *ngFor="let font of fonts" [value]="font">{{ font }}</option>
      </select>
    </div>
    <span class="white-text" style="margin-bottom:10px;" [style.fontFamily]="getSelectedFont()">
      Texte avec la police sélectionnée
    </span>
</div>
