<div class="listOfButton" id="listOfButtonFocusWork">
    <div class="container" id="backgroundFocusWork">
        <span class="textButton">
            Fond
        </span>
        <button style="width: 150px;" (click)="toggleSVG()" #toggleButton>
          {{ svgActif ? 'Clair' : 'Sombre' }}
        </button>
    </div>
    <div class="container" id="questionAnimationFocusWork">
        <span class="textButton">
            Animation Questions
        </span>
        <button style="width: 150px;" (click)="switchCurrentQuestionAnimation()">
          {{textDisplayQuestionAnimationButton}}
        </button>
    </div>
    <div class="container" id="rightAnswerAnimationFocusWork">
        <span class="textButton">
            Visuel Réponse Juste
        </span>
        <button style="width: 150px;" (click)="switchCurrentRightAnswerAnimation()">
          {{textDisplayRightAnswerAnimationButton}}
        </button>
    </div>
    <div class="container" id="wrongAnswerAnimationFocusWork">
        <span class="textButton">
          Visuel Réponse Fausse
        </span>
        <button style="width: 150px;" (click)="switchCurrentWrongAnswerAnimation()">
          {{textDisplayWrongAnswerAnimationButton}}
        </button>
    </div>
</div>
