<div class="listOfButton" id="listOfButtonFocusWork">
  <div class="container" id="backgroundFocusWork">
        <span class="textButton">
            Fond
        </span>
    <button [ngClass]="{'blue-button': isBackgroundActive}" (click)="toggleBackground()">
      Activer/Désactiver
    </button>
  </div>
  <div class="container" id="questionAnimationFocusWork">
        <span class="textButton">
            Animation Questions
        </span>
    <button [ngClass]="{'blue-button': isQuestionAnimationActive}" (click)="toggleQuestionAnimation()">
      Activer/Désactiver
    </button>
  </div>
  <div class="container" id="rightAnswerAnimationFocusWork">
        <span class="textButton">
            Visuel Réponse Juste
        </span>
    <button [ngClass]="{'blue-button': isRightAnswerAnimationActive}" (click)="toggleRightAnswerAnimation()">
      Activer/Désactiver
    </button>
  </div>
  <div class="container" id="wrongAnswerAnimationFocusWork">
        <span class="textButton">
          Visuel Réponse Fausse
        </span>
    <button [ngClass]="{'blue-button': isWrongAnswerAnimationActive}" (click)="toggleWrongAnswerAnimation()">
      Activer/Désactiver
    </button>
  </div>
</div>
