<div style="height: auto;">
  <h1 style="text-align:center; margin-bottom: 25px;margin-top: 25px;">PARAMÈTRES AVANCÉS</h1>
  <div class="container">
    <button class="button-advended-parameter"(click)="ActivateChronometer()">CHRONOMÈTRE</button>
    <div *ngIf = "ChronometerisEnable">
        <app-ChonometerAdvancedParameter></app-ChonometerAdvancedParameter>
    </div>

    <button class="button-advended-parameter"(click)="ActivateMemoryWork()">MÉMOIRE</button>
    <div *ngIf = "MemoryWorkisEnable">
        <app-MemoryWorkAdvancedParameter></app-MemoryWorkAdvancedParameter>
    </div>

    <button class="button-advended-parameter"(click)="ActivateFocusWork()">ATTENTION</button>
    <div *ngIf = "FocusWorkisEnable">
        <app-FocusWorkAdvancedParameter></app-FocusWorkAdvancedParameter>
    </div>
  </div>
</div>
