<span class="titlte" >Choix des paramètres avancés</span>
<a (click)="ActivateChronometer()"> </a>
<button (click)="ActivateChronometer()">Activer Chronomètre</button>
<div *ngIf = "ChronometerisEnable">
    <app-ChonometerAdvancedParameter></app-ChonometerAdvancedParameter>
</div>

<button (click)="ActivateMemoryWork()">Travail sur la mémoire</button>
<div *ngIf = "MemoryWorkisEnable">
    <app-MemoryWorkAdvancedParameter></app-MemoryWorkAdvancedParameter>
</div>

<button (click)="ActivateFocusWork()">Travail sur l'attention</button>
<div *ngIf = "FocusWorkisEnable">
    <app-FocusWorkAdvancedParameter></app-FocusWorkAdvancedParameter>
</div>
