<div class="create-quiz-container">
  <h2>Créer un nouveau Quiz</h2>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Titre du quiz <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
      <br>
    </label>
    Theme du quiz <br>
    <select formControlName="theme">
      <option *ngFor="let theme of theme_list" [value]="theme">{{theme}}</option>
    </select>
    <br>
  </form>

  <label>Sélectionnez le nombre de questions :</label>
  <select [(ngModel)]="numberOfQuestions" (change)="onSelect()">
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="5">5</option>
     <option value="10">10</option>
     <option value="15">15</option>
     <option value="20">20</option>

  </select>

  <div *ngIf="numberOfQuestions">
    <button *ngFor="let button of buttons"
            (click)="onClick(button)"
            [ngClass]="{ 'blue-button': button === blueButton }">
      {{ button }}
    </button>
  </div>



  <app-CreateQuestion></app-CreateQuestion>

  <button (click)="nextQuestion()">Prochaine question</button>
  <br>
  <button (click)="createQuiz()">Créer le quiz</button>


</div>
