<div>
  <form class="form-forgetpassword" [formGroup]="forgetpasswordForm">
    <div>
      <div class="forgetpassword-input-section forgetpassword-element" id="forgetpassword-input-section-surname">
        <div class="forgetpassword-displayText-input text_displayed" id="forgetpassword-surname_display">Prénom</div>
        <input class="forgetpassword-connexion text_displayed" type="text" id="forgetpassword-surname" [formControlName]="'surname'" placeholder="Ecrivez ici">
      </div>
      <div class="parent-div-inscription-warning-text">
        <div class="forgetpassword-warning-text" id="forgetpassword-warning-msg-surname">uselessToKeepSpacingCorrect</div>
      </div>
    </div>
    <div>
      <div class="forgetpassword-input-section forgetpassword-element" id="forgetpassword-input-section-name">
        <div class="forgetpassword-displayText-input text_displayed" id="forgetpassword-name_display">Nom</div>
        <input class="forgetpassword-connexion text_displayed" type="text" id="forgetpassword-name" [formControlName]="'name'" placeholder="Ecrivez ici">
      </div>
      <div class="parent-div-forgetpassword-warning-text">
        <div class="forgetpassword-warning-text" id="forgetpassword-warning-msg-name">Les informations ne coincident pas</div>
      </div>
    </div>
    <div>
      <div class="forgetpassword-input-section forgetpassword-element" id="forgetpassword-input-section-id">
        <div class="forgetpassword-displayText-input text_displayed" id="forgetpassword-id_display">Identifiant</div>
        <input class="forgetpassword-connexion text_displayed" type="text" id="forgetpassword-id" [formControlName]="'id'" placeholder="Ecrivez ici">
      </div>
      <div class="parent-div-forgetpassword-warning-text">
        <div class="forgetpassword-warning-text" id="forgetpassword-warning-msg-id">Identifiant non valable</div>
      </div>
    </div>

    <div id="forgetpassword_navigate_button">
      <div class="forgetpassword-element" id="firstButtonNav">
        <button routerLink="/homePage" id="forgetpassword-leave-button" class="forgetpassword-button" (mouseleave)="resetDefaultBackgroundButton('#forgetpassword-leave-button')" (mouseenter)="changeBackgroundButton('#forgetpassword-leave-button')">
          <div class="forgetpassword-displayText text_displayed button_navigation">
            Quitter
          </div>
        </button>
      </div>
      <div class="forgetpassword-element" id="lastButtonNav">
        <button id="forgetpassword-inscription-button" class="forgetpassword-button" (click)="clickOnInscription()" (mouseleave)="resetDefaultBackgroundButton('#forgetpassword-inscription-button')" (mouseenter)="changeBackgroundButton('#forgetpassword-inscription-button')">
          <div class="forgetpassword-displayText text_displayed button_navigation">
            {{leftButtonNav}}
          </div>
        </button>
      </div>
    </div>

    <div class="forgetpassword-input-section forgetpassword-element" id="forgetpassword-show-password-section">
      <div class="forgetpassword-displayText-input text_displayed" id="forgetpassword-show-password-display-info">Votre mot de passe est</div>
      <div class="forgetpassword-displayText-input-showing text_displayed" id="forgetpassword-show-password-display-password">{{userPassword}}</div>
    </div>

  </form>
</div>
