
<div *ngIf="currentQuestion.label=='order'">
    <app-game-question-order [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-order>
</div>
<div *ngIf="currentQuestion.label=='puzzle'">
    <app-puzzle-main [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-puzzle-main>
</div>
<div *ngIf="currentQuestion.label=='classical'">
    <app-game-question-classical [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-classical>
</div>
<div *ngIf="currentQuestion.label=='searching' ">
    <app-game-question-searching [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-searching>
</div>
<ng-template class="essai" #elseBlock>
  <app-game-question-classical [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-classical>
</ng-template>
<div class="button-container">
  <button class="game-question-button" *ngIf="!this.isFinnished" (click)="getNextQuestion(true); resetCountdown(countdown)">Next Question</button>
  <button class="game-question-button" *ngIf="this.isFinnished" (click)="stopCountdown()"routerLink="/results">Voir les résultats</button>
</div>


















