
<div *ngIf="currentQuestion.label=='order' && logicIsEnable=='true'">
    <app-game-question-order [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-order>
</div>
<div *ngIf="currentQuestion.label=='puzzle' && puzzleIsEnable=='true'">
    <app-puzzle-main [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-puzzle-main>
</div>
<div *ngIf="currentQuestion.label=='classical'">
    <app-game-question-classical [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-classical>
</div>
<div *ngIf="currentQuestion.label=='searching' && reflexionIsEnable=='true'">
    <app-game-question-searching [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-searching>
</div>
<ng-template #elseBlock>
    <div class="essai" >
        <app-game-question-classical [currentQuestion]="currentQuestion" (answerEvent)="getNextQuestion($event)"></app-game-question-classical>
    </div>
</ng-template>
<div class="button-container">
  <button class="game-question-button" *ngIf="!this.gameService.allQuestionsAnswered()" (click)="getNextQuestion(true); resetCountdown(countdown)">Next Question</button>
  <button class="game-question-button" *ngIf="this.gameService.allQuestionsAnswered()" (click)="stopCountdown()"routerLink="/results">Voir les résultats</button>
</div>

