<div>
  <form class="form-retrievepassword" [formGroup]="connexionForm">
    <div>
      <div class="retrievepassword-input-section retrievepassword-element" id="retrievepassword-input-section-name">
        <div class="retrievepassword-displayText-input text_displayed" id="retrievepassword-name_display">Identifiant</div>
        <input class="input-retrievepassword text_displayed" type="text" id="retrievepassword-name" [formControlName]="'name'" placeholder="Ecrivez ici">
      </div>
      <div class="parent-div-retrievepassword-warning-text">
        <div class="retrievepassword-warning-text" id="retrievepassword-warning-msg-name">L'identifiant n'existe pas</div>
      </div>
    </div>
    <div>
      <div class="retrievepassword-input-section retrievepassword-element" id="retrievepassword-input-section-password">
        <div class="retrievepassword-displayText-input text_displayed" id="retrievepassword-password_display">Mot de passe</div>
        <input class="input-retrievepassword text_displayed" [type]="typePassword"
               id="retrievepassword-password" [formControlName]="'password'" placeholder="Ecrivez ici">
        <img id="retrievepassword-image-password-eye" [src]="pathImgPassword" (click)="clickOnEye()">
      </div>
      <div class="parent-div-retrievepassword-warning-text">
        <div class="retrievepassword-warning-text" id="retrievepassword-warning-msg-password">Le mot de passe doit avoir au moins 3 caractères</div>
      </div>
    </div>


    <div>
      <div class="retrievepassword-input-section retrievepassword-element" id="retrievepassword-input-section-Rpassword">
        <div class="retrievepassword-displayText-input text_displayed" id="retrievepassword-Rpassword_display">Mot de passe</div>
        <input class="input-retrievepassword text_displayed" [type]="typePassword" id="retrievepassword-Rpassword" [formControlName]="'Rpassword'" placeholder="Ecrivez ici">
      </div>
      <div class="parent-div-retrievepassword-warning-text">
        <div class="retrievepassword-warning-text" id="retrievepassword-warning-msg-Rpassword">Les mots de passes ne sont pas identiques</div>
      </div>
    </div>


    <div id="connexion_navigate_button">
      <div class="retrievepassword-element" (mouseleave)="resetDefaultBackgroundButton('#retrievepassword-leave-button')" (mouseenter)="changeBackgroundButton('#retrievepassword-leave-button')">
        <button routerLink="/homePage" id="retrievepassword-leave-button" class="retrievepassword-button">
          <div class="retrievepassword-displayText text_displayed button_navigation">
            Quitter
          </div>
        </button>
      </div>
      <div class="retrievepassword-element" (mouseleave)="resetDefaultBackgroundButton('#retrievepassword-logIN-button')" (mouseenter)="changeBackgroundButton('#retrievepassword-logIN-button')">
        <button id="retrievepassword-logIN-button" class="retrievepassword-button" (click)="clickOnLogIn()">
          <div class="retrievepassword-displayText text_displayed button_navigation">
            retrievepassword
          </div>
        </button>
      </div>
      <div class="retrievepassword-element" (mouseleave)="resetDefaultBackgroundButton('#retrievepassword-inscription-button')" (mouseenter)="changeBackgroundButton('#retrievepassword-inscription-button')">
        <button id="retrievepassword-inscription-button" class="retrievepassword-button" (click)="clickOnLogIn()">
          <div class="retrievepassword-displayText text_displayed button_navigation">
            Confirmer
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
