/* You can add global styles to this file, and also import other style files */
button {
  background-color: #eee;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.game-question-button {
  display: inline-block;
  padding: 20px 35px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #e0e0e0;
    border: 2px solid #bfbfbf;
  }

  &:active {
    background-color: #d6d6d6;
    border: 2px solid #b3b3b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}
.answer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1px;
  text-align: center;
}



.answer-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex: 1;
}

.button-parametre {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;

  &:hover {
    background-color: #e0e0e0;
    border: 2px solid #bfbfbf;
  }

  &:active {
    background-color: #d6d6d6;
    border: 2px solid #b3b3b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}
.quiz-name-zqsd {
  font-size: 75px;
  font-weight: bold;
  color: goldenrod;
  text-shadow: 0px 0px 5px #ffd700;
  text-shadow: 0px 0px 5px #ffd700;
  -webkit-text-stroke: 1px #000;
  -webkit-text-stroke-opacity: 0.5;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
}

.subtitle-parameter{
  font-size: 20px;
  margin: 15px;
  margin-bottom: 30px;
  text-decoration: underline;
  text-align: center;
}

.button-home{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.button-return{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position:fixed;
  bottom:20px;
  left:50%;
  transform: translateX(-50%);
}
.button-advended-parameter{
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  border: 2px solid #000;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 75px;
  text-align: center;
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(225,739,373)'%3E%3Cstop offset='0' stop-color='%230C8DAD'/%3E%3Cstop offset='1' stop-color='%23BC2511'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.answer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  margin: 20px auto; /*centrer le bloc horizontalement*/
  text-align: center; /*centrer le texte horizontalement*/
  border: solid 2px #000;
  border-radius: 15px;
  background-color: #ffd17a;
  box-shadow: 0 6px #efa424;
  font-size: var(--currentSize);



  &:hover {
    box-shadow: 0 4px #efa424;
    top: 2px;
  }

  &:active {
    box-shadow: 0 0 #efa424;
    top: 6px;
  }
}

:root {
  --currentSize: var(--ts-currentSize);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question-searching-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.question-searching-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.question-searching-answers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.question-searching-answer-option {
  margin: 10px;
}

.questionTitle{
  font-size: calc(var(--currentSize) + 15px);
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px ;
  text-decoration: underline;
  text-underline-offset: 10px;
}



