/* You can add global styles to this file, and also import other style files */
button {
  background-color: #eee;
  border: 2px solid gray;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
button:hover {
  background-color: black;
  color: white;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.game-question-button {
  display: inline-block;
  padding: 20px 35px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: #e0e0e0;
    border: 2px solid #bfbfbf;
  }

  &:active {
    background-color: #d6d6d6;
    border: 2px solid #b3b3b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}

html, body, app-root {
  height: 100%;
  background-color: #F5F5DC;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}
.answer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 1px;
  text-align: center;
}

.answer-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}


.full-height {
  height: 745.6;
}

.button-parametre {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;

  &:hover {
    background-color: #e0e0e0;
    border: 2px solid #bfbfbf;
  }

  &:active {
    background-color: #d6d6d6;
    border: 2px solid #b3b3b3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}
.quiz-name-zqsd {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
}

.subtitle-parameter{
  font-size: 20px;
  margin: 15px;
  margin-bottom: 30px;
  text-decoration: underline;
}

.button-home{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.button-return{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  position:fixed;
  bottom:20px;
  left:50%;
  transform: translateX(-50%);
}
.button-advended-parameter{
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  border: 2px solid #000;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 75px;
  text-align: center;
}








html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
