header{
    position: relative;
    background-color: #415c77;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
}

.container{
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
    padding: 0 auto;
}
