<div class="question-container">
  <div style="margin-top: 15px; margin-bottom: 15px; font-size: calc(var(--currentSize) + 5px);" [style.fontFamily]="getSelectedFont()" [ngClass]="{'questionTitle': enableAnimationQuestion, 'uppercase-text': advPService.isUpperCase}">{{currentQuestion?.value}}</div>

  <div class="answer-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="answer-row" *ngFor="let answer of answers; let i = index">
      <div class="answer-number">{{i + 1}}</div>
      <div class="answer-block" cdkDrag [ngClass]="{'uppercase-text': advPService.isUpperCase}" [style.fontFamily]="getSelectedFont()">
        {{answer.value}}
      </div>
    </div>
  </div>
</div>
<div class="button-container">
  <button class="game-question-button" (click)="validate()">Valider</button>
</div>
